@media (max-width: 1024px) {
  .container {
    padding-inline: min(3.52vw, 36px);
  }

  .header__containerTop {
    flex-direction: column;

    padding-inline: 0;
    // row-gap: min(1.66vw, 17px);
  }

  .header__list {
    background-color: #f6f6f6;

    padding-inline: min(3.52vw, 36px);
    padding-block: min(1.66vw, 17px);
    column-gap: min(6.35vw, 65px);
  }

  .header__topMain {
    background-color: #ffffff;

    padding-block: 0;
  }

  .header__tel {
    left: min(3.81vw, 39px);
    width: max-content;
    padding-left: min(1.86vw, 19px);
    font-size: min(1.37vw, 14px);
    line-height: min(1.37vw, 14px);
    background-color: #ffffff;

    padding-block: min(2.15vw, 22px);
  }

  .header__tel::after {
    width: min(1.56vw, 16px);
    height: min(1.56vw, 16px);
  }

  .header__navLink {
    font-size: min(1.37vw, 14px);
    line-height: min(1.37vw, 14px);
  }

  .header__containerBottom div:has(nav) {
    padding-top: min(3.13vw, 32px);
    padding-bottom: min(2.73vw, 28px);
  }

  .header__logo {
    width: min(18.26vw, 187px);
    height: min(2.64vw, 27px);
  }

  .header__navLinkBottom {
    font-size: min(1.56vw, 16px);
    line-height: min(2.15vw, 22px);
  }

  .header__bottomList {
    column-gap: min(4.00vw, 41px);
  }

  .header__form {
    width: min(71.58vw, 733px);
    padding: min(1.95vw, 20px) min(3.13vw, 32px);
  }

  .header__search {
    padding-left: min(2.44vw, 25px);
    font-size: min(1.56vw, 16px);
    line-height: min(1.86vw, 19px);

    &::placeholder {
      font-size: min(1.56vw, 16px);
      line-height: min(1.86vw, 19px);
    }
  }

  .header__form::before {
    left: min(3.13vw, 32px);
    width: min(1.95vw, 20px);
    height: min(1.95vw, 20px);
  }

  .header__btnSearch {
    width: min(3.13vw, 32px);
    height: min(3.13vw, 32px);
  }

  .header__btn {
    width: min(2.54vw, 26px);
    height: min(2.73vw, 28px);

    &:last-child {
      width: min(2.93vw, 30px);
    }
  }

  .header {
    margin-bottom: min(2.34vw, 24px);
  }

  .hero {
    min-height: min(39.06vw, 400px);
    margin-bottom: min(6.84vw, 70px);
    background-image: url(../img//hero_1024.jpg);
  }

  .hero h1 {
    max-width: min(53.61vw, 549px);
    margin-bottom: min(1.86vw, 19px);
    font-size: min(4.69vw, 48px);
    line-height: min(6.35vw, 65px);
  }

  .hero button {
    max-width: min(18.26vw, 187px);
    padding: min(2.15vw, 22px) min(4.88vw, 50px);
    font-size: min(1.56vw, 16px);
    line-height: min(1.56vw, 16px);
  }

  .header__basketCount {
    left: max(-1.07vw, -11px);
    width: min(1.46vw, 15px);
    height: min(1.46vw, 15px);
    font-size: min(.98vw, 10px);
    line-height: min(.98vw, 10px);
  }

  .spec h2,
  .pop__title,
  .top h2 {
    margin-bottom: min(2.54vw, 26px);
    font-size: min(3.13vw, 32px);
    line-height: min(3.13vw, 32px);
  }

  .spec__item_small,
  .spec__item_big {
    width: min(28.91vw, 296px);
  }

  .spec__imgBlock_1 {
    width: min(18.85vw, 193px);
    height: min(20.51vw, 210px);
    margin-top: min(7.03vw, 72px);
    margin-bottom: min(1.56vw, 16px);
  }

  .spec__imgBlock_2 {
    width: min(24.80vw, 254px);
    height: min(13.48vw, 138px);
    margin-top: min(10.94vw, 112px);
    margin-bottom: min(4.69vw, 48px);
  }

  .spec__imgBlock_3 {
    width: min(14.55vw, 149px);
    height: min(21.29vw, 218px);
    margin-top: min(6.25vw, 64px);
    margin-bottom: min(1.56vw, 16px);
  }

  .spec__item {
    padding: 0 min(2.93vw, 30px) min(2.93vw, 30px) min(2.93vw, 30px);
  }

  .spec__discount {
    top: min(2.93vw, 30px);
    width: min(8.98vw, 92px);
    min-height: min(3.32vw, 34px);
    font-size: min(1.37vw, 14px);
    line-height: min(1.86vw, 19px);
  }

  .spec h3 a {
    max-width: min(21.97vw, 225px);
    margin-bottom: min(2.25vw, 23px);
    font-size: min(2.34vw, 24px);
    line-height: min(3.03vw, 31px);
  }

  .spec__price {
    font-size: min(1.76vw, 18px);
    line-height: min(2.25vw, 23px);
  }

  .spec__priceBlock {
    margin-bottom: min(1.95vw, 20px);

    column-gap: min(2.93vw, 30px);
  }

  .spec__priceLine {
    font-size: min(1.56vw, 16px);
    line-height: min(2.05vw, 21px);
  }

  .spec__btn {
    padding: min(1.86vw, 19px) min(3.52vw, 36px);
    border-radius: min(.98vw, 10px);
    font-size: min(1.56vw, 16px);
    line-height: min(1.56vw, 16px);
  }

  .spec,
  .pop,
  .oxford {
    margin-bottom: min(6.84vw, 70px);
  }

  .pop__item {
    border-radius: min(.98vw, 10px);

    padding-block: min(2.93vw, 30px);

    &:nth-last-child(1),
    &:nth-last-child(2) {
      display: none;
    }
  }

  .pop__star {
    margin-bottom: min(1.46vw, 15px);
    margin-left: min(2.93vw, 30px);
    padding-left: min(2.25vw, 23px);
    font-size: min(1.56vw, 16px);
    line-height: min(2.05vw, 21px);
  }

  .pop__star::after {
    top: min(.29vw, 3px);
    width: min(1.46vw, 15px);
    height: min(1.46vw, 15px);
  }

  .pop div:has(> picture) {
    width: 90%;
    min-height: min(13.38vw, 137px);
    margin: 0 auto;
    margin-bottom: min(1.76vw, 18px);
  }

  .pop h3 a {
    max-width: min(23.05vw, 236px);
    margin-bottom: min(1.76vw, 18px);
    font-size: min(2.34vw, 24px);
    line-height: min(3.13vw, 32px);
  }

  .pop div:has(> h3) {
    height: min(17.87vw, 183px);

    padding-inline: min(2.93vw, 30px);
  }

  .pop__list {
    gap: min(3.13vw, 32px);
    grid-template-columns: repeat(3, 1fr);
  }

  .pop__price {
    margin-bottom: min(2.34vw, 24px);
    font-size: min(1.56vw, 16px);
    line-height: min(2.05vw, 21px);
  }

  .pop__btn {
    padding: min(1.86vw, 19px) min(3.42vw, 35px);
    border-radius: min(.98vw, 10px);
    font-size: min(1.56vw, 16px);
    line-height: min(1.56vw, 16px);
  }

  .oxford {
    min-height: min(58.59vw, 600px);
    padding-top: min(14.65vw, 150px);
    background-image: url(../img/oxford_back_1024.jpg);
  }

  .oxford h4 {
    max-width: min(49.61vw, 508px);
    margin-bottom: min(4.79vw, 49px);
    font-size: min(4.69vw, 48px);
    line-height: min(5.66vw, 58px);
  }

  .oxford h4 div {
    font-size: min(5.86vw, 60px);
    line-height: min(7.03vw, 72px);
  }

  .oxford button {
    width: min(18.26vw, 187px);
    min-height: min(5.86vw, 60px);
    font-size: min(1.56vw, 16px);
    line-height: min(1.56vw, 16px);
  }

  .top__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min(49.90vw, 511px) min(49.90vw, 511px);
    gap: min(3.13vw, 32px);
  }

  .top__item_1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .top__item_2 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .top__item_3 {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .top__item_4 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .top__item_5 {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .top__item_1 div:has(> picture) {
    width: min(50.29vw, 515px);
    height: min(30.08vw, 308px);
    // transform: translateX(min(18.16vw, 186px)) translateY(min(3.32vw, 34px));
  }

  .top__item_3 div:has(> picture) {
    width: min(43.75vw, 448px);
    height: min(28.91vw, 296px);
  }

  .top__item_4 div:has(> picture) {
    width: min(24.61vw, 252px);
    height: min(28.91vw, 296px);
  }

  .top__item_2 div:has(> picture) {
    width: min(48.54vw, 497px);
    height: min(28.91vw, 296px);
  }

  .top__item_5 div:has(> picture) {
    width: min(36.91vw, 378px);
    height: min(28.91vw, 296px);
  }

  .top__item {
    padding: min(2.93vw, 30px);
    border-radius: min(.98vw, 10px);
  }

  .top__typeItem {
    font-size: min(1.37vw, 14px);
    line-height: min(1.37vw, 14px);
  }

  .top__listType {
    margin-bottom: min(1.37vw, 14px);

    column-gap: min(2.93vw, 30px);
  }

  .top h3 {
    margin-bottom: min(2.93vw, 30px);
    font-size: min(2.34vw, 24px);
    line-height: min(3.22vw, 33px);
  }

  .top div:has(> picture) {
    margin-bottom: min(2.93vw, 30px);
    margin-left: max(-2.93vw, -30px);
  }

  .top__linkCatalog {
    font-size: min(1.56vw, 16px);
    line-height: min(1.95vw, 20px);
  }

  .top__arrow {
    width: min(2.15vw, 22px);
    height: min(2.15vw, 22px);
  }

  .top__item_3 div:has(> picture) {
    width: 125%;
    height: min(29.98vw, 307px);
  }
}
