@import "normalize";

@import "settings";

@import "library_swiper-bundle";

.container {
  padding-inline: 2rem;
}

body:has(.catalog) > .header {
  margin-bottom: min(1.60vw, 23px);
}

.header {
  margin-bottom: min(2.22vw, 32px);

  &__topMain {
    background-color: #f6f6f6;

    padding-block: min(1.25vw, 18px);
  }

  &__containerTop {
    justify-content: space-between;
  }

  &__tel {
    position: relative;
    align-items: center;
    padding-left: min(1.32vw, 19px);
    font-size: min(.97vw, 14px);
    font-weight: 400;
    line-height: min(.97vw, 14px);
    color: #ff862f;
    transition: color .3s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: min(1.11vw, 16px);
      height: min(1.11vw, 16px);
      background-image: url(../img/header__tel.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__list {
    column-gap: min(4.44vw, 64px);
  }

  &__navLink {
    font-size: min(.97vw, 14px);
    font-weight: 400;
    line-height: min(.97vw, 14px);
    color: #999999;
    transition: color .3s ease-in-out;
  }

  &__logo {
    width: min(12.99vw, 187px);
    height: min(1.88vw, 27px);

    object-fit: cover;
  }

  &__containerBottom {
    flex-direction: column;

    & div:has(nav) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding-block: min(2.22vw, 32px);
    }

    & div:has(> search) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__form {
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: min(73.68vw, 1061px);
    padding: min(1.39vw, 20px) min(2.22vw, 32px);
    border-radius: min(.69vw, 10px);
    background-color: #f6f6f6;
    transition: background-color .3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: min(2.22vw, 32px);
      width: min(1.39vw, 20px);
      height: min(1.39vw, 20px);
      opacity: 1;
      background-image: url(../img/loop.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transition: opacity .3s ease-in-out;
    }
  }

  &__search {
    align-items: center;
    width: 70%;
    padding-left: min(1.88vw, 27px);
    font-size: min(1.11vw, 16px);
    font-weight: 400;
    line-height: min(1.32vw, 19px);
    color: #999999;

    &::placeholder {
      font-size: min(1.11vw, 16px);
      font-weight: 400;
      line-height: min(1.32vw, 19px);
      color: #999999;
    }
  }

  &__bottomList {
    column-gap: min(6.32vw, 91px);
  }

  &__navLinkBottom {
    font-size: min(1.11vw, 16px);
    font-weight: 400;
    line-height: min(1.53vw, 22px);
    color: #333333;
    transition: color .3s ease-in-out;
  }

  &__btnSearch {
    width: min(2.22vw, 32px);
    height: min(2.22vw, 32px);
    background-image: url(../img/arrow_form.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__btnBlock {
    align-items: center;

    column-gap: min(2.99vw, 43px);
  }

  &__btn {
    width: min(2.08vw, 30px);
    height: min(1.94vw, 28px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image .3s ease-in-out;

    &_acc {
      background-image: url(../img/header__accIcon.svg);
    }

    &_basket {
      position: relative;
      background-image: url(../img/header__accBasket.svg);
    }
  }

  &__basketCount {
    position: absolute;
    top: min(.49vw, 7px);
    left: max(-.76vw, -11px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(1.04vw, 15px);
    height: min(1.04vw, 15px);
    border-radius: 100%;
    font-size: min(.69vw, 10px);
    font-weight: 700;
    line-height: min(.69vw, 10px);
    color: white;
    text-align: center;
    background-color: #ff862f;
  }
}

.hero {
  width: 100%;
  min-height: min(27.78vw, 400px);
  margin-bottom: min(4.86vw, 70px);
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    flex-direction: column;
    justify-content: center;
    min-height: inherit;

    row-gap: min(3.40vw, 49px);
  }

  & h1 {
    max-width: min(34.44vw, 496px);
    font-size: min(3.33vw, 48px);
    font-weight: 700;
    line-height: min(4.58vw, 66px);
    color: #999999;
  }

  & button {
    max-width: min(12.99vw, 187px);
    padding: min(1.53vw, 22px) min(3.47vw, 50px);
    border-radius: min(.69vw, 10px);
    font-size: min(1.11vw, 16px);
    font-weight: 700;
    line-height: min(1.11vw, 16px);
    color: white;
    background-color: #a65cf0;
    transition: background-color .3s ease-in-out;
  }
}

.spec {
  margin-bottom: min(4.86vw, 70px);

  & h2 {
    margin-bottom: min(1.81vw, 26px);
    font-size: min(2.22vw, 32px);
    font-weight: 400;
    line-height: min(2.22vw, 32px);
    color: #333333;
  }

  &__list {
    flex-wrap: wrap;
    justify-content: space-between;

    row-gap: min(.69vw, 10px);
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: min(35.49vw, 511px);
    padding-bottom: min(2.08vw, 30px);
    border-radius: min(.69vw, 10px);
    background-color: #f6f6f6;

    padding-inline: min(2.08vw, 30px);

    &_small {
      width: min(20.56vw, 296px);
    }

    &_big {
      width: min(43.33vw, 624px);
    }
  }

  &__discount {
    position: absolute;
    top: min(2.08vw, 30px);
    left: 0;
    align-items: center;
    justify-content: center;
    width: min(6.39vw, 92px);
    min-height: min(2.36vw, 34px);
    font-size: min(.97vw, 14px);
    font-weight: 700;
    line-height: min(1.32vw, 19px);
    color: white;
    background-color: #ff862f;

    padding-inline: min(1.25vw, 18px) min(1.74vw, 25px);
    clip-path: path("M0 0H82.1075L92 16.2273L82.1075 34H0V0Z");
  }

  &__imgBlock {
    margin-bottom: min(1.25vw, 18px);

    &_1 {
      width: min(13.40vw, 193px);
      height: min(14.58vw, 210px);
      margin-top: min(5.00vw, 72px);
    }

    &_2 {
      width: min(31.25vw, 450px);
      height: min(17.01vw, 245px);
      margin-top: min(2.57vw, 37px);
    }

    &_3 {
      width: min(10.35vw, 149px);
      height: min(15.14vw, 218px);
      margin-top: min(4.44vw, 64px);
    }

    & img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__mainDescr {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: calc(100% - min(14.58vw, 210px) - min(2.08vw, 30px));
  }

  & h3 {
    max-width: min(15.56vw, 224px);
    margin-bottom: min(1.53vw, 22px);
    font-size: min(1.67vw, 24px);
    font-weight: 400;
    line-height: min(2.15vw, 31px);
    color: #333333;
  }

  &__price {
    font-size: min(1.25vw, 18px);
    font-weight: 400;
    line-height: min(1.60vw, 23px);
    color: #ff862f;
  }

  &__priceLine {
    font-size: min(1.11vw, 16px);
    font-weight: 400;
    line-height: min(1.46vw, 21px);
    color: #999999;
    text-decoration: line-through;
  }

  &__priceBlock {
    align-items: center;
    margin-bottom: min(1.53vw, 22px);

    column-gap: min(2.08vw, 30px);
  }

  &__btn {
    margin-top: auto;
    padding: min(1.32vw, 19px) min(2.43vw, 35px);
    border: 2px solid #a65cf0;
    border-radius: min(.69vw, 10px);
    font-size: min(1.11vw, 16px);
    font-weight: 600;
    line-height: min(1.11vw, 16px);
    color: #a65cf0;
    background-color: transparent;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
  }
}

.pop {
  margin-bottom: min(4.86vw, 70px);

  &__title {
    margin-bottom: min(1.81vw, 26px);
    font-size: min(2.22vw, 32px);
    font-weight: 400;
    line-height: min(2.22vw, 32px);
    color: #333333;
  }

  &__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: min(2.22vw, 32px);
    row-gap: min(2.22vw, 32px);
  }

  &__item {
    min-height: min(29.17vw, 420px);
    border-radius: min(.69vw, 10px);
    background-color: #f6f6f6;

    padding-block: min(2.08vw, 30px);
  }

  & h3 {
    max-width: min(16.39vw, 236px);
    margin-bottom: min(1.67vw, 24px);
    font-size: min(1.67vw, 24px);
    font-weight: 400;
    line-height: min(2.15vw, 31px);
    color: #333333;
  }

  &__star {
    position: relative;
    margin-left: min(2.08vw, 30px);
    padding-left: min(1.60vw, 23px);
    font-size: min(1.11vw, 16px);
    font-weight: 400;
    line-height: min(1.46vw, 21px);
    color: #ff862f;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: min(1.04vw, 15px);
      height: min(1.04vw, 15px) ;
      background-image: url(../img/star.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  & div:has( > picture) {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: min(9.03vw, 130px);
    margin-bottom: min(1.11vw, 16px);

    & img {
      width: 100%;
      height: 100%;

      object-fit: contain;
      object-position: bottom;
    }
  }

  div:has(> h3) {
    display: flex;
    flex-direction: column;
    height: calc(100% - min(11.60vw, 167px));

    padding-inline: min(2.08vw, 30px);
  }

  &__price {
    display: block;
    margin-bottom: min(1.67vw, 24px);
    font-size: min(1.11vw, 16px);
    font-weight: 400;
    line-height: min(1.46vw, 21px);
    color: #666666;
  }

  &__btn {
    margin-top: auto;
    padding: min(1.32vw, 19px) min(2.43vw, 35px);
    border: 2px solid #a65cf0;
    border-radius: min(.69vw, 10px);
    font-size: min(1.11vw, 16px);
    font-weight: 600;
    line-height: min(1.11vw, 16px);
    color: #a65cf0;
    background-color: transparent;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
  }
}

.oxford {
  width: 100%;
  min-height: min(41.67vw, 600px);
  margin-bottom: min(4.86vw, 70px);
  padding-top: min(10.42vw, 150px);
  background-image: url(../img/oxford_back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & h4 {
    max-width: min(35.28vw, 508px);
    margin-bottom: min(3.40vw, 49px);
    font-size: min(3.33vw, 48px);
    font-weight: 400;
    line-height: min(3.96vw, 57px);
    color: #ffffff;

    & div {
      font-family: "Playfair_Display-Black";
      font-size: min(4.17vw, 60px);
      font-weight: 900;
      line-height: min(5.00vw, 72px);
      color: #d5b986;
    }
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(12.99vw, 187px);
    min-height: min(4.17vw, 60px);
    border-radius: min(.69vw, 10px);
    font-size: min(1.11vw, 16px);
    font-weight: 700;
    line-height: min(1.11vw, 16px);
    color: #ffffff;
    background-color: #a65cf0;
    transition: background-color .3s ease-in-out;
  }
}

.top {
  margin-bottom: min(4.86vw, 70px);

  & h2 {
    margin-bottom: min(1.81vw, 26px);
    font-size: min(2.22vw, 32px);
    font-weight: 400;
    line-height: min(2.22vw, 32px);
    color: #333333;
  }

  &__item {
    padding: min(2.08vw, 30px);
    border-radius: min(.69vw, 10px);
    background-color: #f6f6f6;

    &_1 {
      grid-column: 1 / 3;
      grid-row: 1 / 2;

      & div:has(> picture) {
        width: min(35.76vw, 515px);
        height: min(21.39vw, 308px);
      }
    }

    &_2 {
      grid-column: 3 / 5;
      grid-row: 1 / 2;

      & div:has(> picture) {
        width: min(35.76vw, 515px);
        height: min(21.39vw, 308px);
      }
    }

    &_3 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;

      & div:has(> picture) {
        width: min(21.25vw, 306px);
        height: min(14.03vw, 202px);
      }
    }

    &_4 {
      grid-column: 2 / 4;
      grid-row: 2 / 3;

      & div:has(> picture) {
        width: min(22.92vw, 330px);
        height: min(14.03vw, 202px);
      }
    }

    &_5 {
      grid-column: 4 / 5;
      grid-row: 2 / 3;

      & div:has(> picture) {
        width: min(17.92vw, 258px);
        height: min(14.03vw, 202px);
      }
    }
  }

  & div:has(> picture) {
    margin-bottom: min(2.08vw, 30px);
    margin-left: max(-2.08vw, -30px);

    & img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__list {
    justify-content: center;

    grid-template-columns: min(28.13vw, 405px) min(12.99vw, 187px) min(12.99vw, 187px) min(28.13vw, 405px);
    grid-template-rows: min(35.49vw, 511px) min(28.13vw, 405px);
    gap: min(2.22vw, 32px);
  }

  &__listType {
    margin-bottom: min(.97vw, 14px);

    column-gap: min(2.08vw, 30px);
  }

  &__typeItem {
    font-size: min(.97vw, 14px);
    font-weight: 400;
    line-height: min(.97vw, 14px);
    color: #999999;
  }

  & h3 {
    margin-bottom: min(2.08vw, 30px);
    font-size: min(1.67vw, 24px);
    font-weight: 400;
    line-height: min(2.22vw, 32px);
    color: #333333;
  }

  &__linkCatalog {
    align-items: center;
    width: max-content;
    font-size: min(1.11vw, 16px);
    font-weight: 700;
    line-height: min(1.32vw, 19px);
    color: #a65cf0;
    transition: color .3s ease-in-out;

    column-gap: min(.35vw, 5px);
  }

  &__arrow {
    width: min(1.53vw, 22px);
    height: min(1.53vw, 22px);
    transition: stroke .3s ease-in-out;

    stroke: #a65cf0;

    & svg {
      width: 100%;
      height: 100%;
    }
  }
}

.useful {
  margin-bottom: min(4.86vw, 70px);

  & h2 {
    margin-bottom: min(1.81vw, 26px);
    font-size: min(2.22vw, 32px);
    font-weight: 400;
    line-height: min(2.22vw, 32px);
    color: #333333;
    letter-spacing: 0;
  }

  &__mainBlock {
    column-gap: min(2.22vw, 32px);
  }

  &__itemBlock {
    width: 50%;
    min-height: min(46.94vw, 676px);
    border-radius: min(.69vw, 10px);
    background-color: #f6f6f6;
  }

  & div:has(> picture) {
    width: 100%;
    height: min(29.58vw, 426px);
    margin-bottom: min(2.08vw, 30px);

    & img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__mainDescr {
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - min(29.58vw, 426px) - min(2.08vw, 30px));
    min-height: min(15.28vw, 220px);
    padding: 0 min(2.08vw, 30px) min(2.08vw, 30px) min(2.08vw, 30px);
  }

  &__descr {
    margin-bottom: min(2.08vw, 30px);
    font-size: min(1.67vw, 24px);
    font-weight: 400;
    line-height: min(2.22vw, 32px);
    color: #333333;
  }

  &__link {
    max-width: min(8.89vw, 128px);
    padding: min(1.32vw, 19px) min(2.43vw, 35px);
    border: 2px solid #a65cf0;
    border-radius: min(.69vw, 10px);
    font-size: min(1.11vw, 16px);
    font-weight: 600;
    line-height: min(1.11vw, 16px);
    color: #a65cf0;
    background-color: transparent;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
  }
}

.connect {
  margin-bottom: min(4.86vw, 70px);

  &__container {
    justify-content: space-between;

    column-gap: min(2.22vw, 32px);
  }

  &__blockMain {
    width: 50%;
  }

  & h2 {
    margin-bottom: min(.63vw, 9px);
    font-size: min(2.22vw, 32px);
    font-weight: 400;
    line-height: min(2.22vw, 32px);
    color: #333333;
  }

  &__descr {
    max-width: min(43.33vw, 624px);
    margin-bottom: min(1.11vw, 16px);
    font-size: min(.97vw, 14px);
    font-weight: 400;
    line-height: min(1.39vw, 20px);
    color: #666666;
    letter-spacing: 0;
  }

  & div:has(> input[type]) {
    display: flex;
    flex-direction: column;
    margin-bottom: min(2.08vw, 30px);

    row-gap: min(2.08vw, 30px);

    & > input {
      padding: min(.49vw, 7px) min(2.08vw, 30px);
      font-size: min(1.11vw, 16px);
      font-weight: 400;
      line-height: min(2.78vw, 40px);
      color: #999999;
      background-color: #f6f6f6;
      transition: background-color .3s ease-in-out;

      &::placeholder {
        font-size: min(1.11vw, 16px);
        font-weight: 400;
        line-height: min(2.78vw, 40px);
        color: #999999;
      }
    }
  }

  &__btn {
    align-items: center;
    justify-content: center;
    margin-bottom: min(.83vw, 12px);
    padding: min(1.32vw, 19px) min(2.43vw, 35px);
    border-radius: min(.69vw, 10px);
    font-size: min(1.11vw, 16px);
    font-weight: 600;
    line-height: min(1.11vw, 16px);
    color: white;
    background-color: #a65cf0;
    transition: background-color .3s ease-in-out;
  }

  &__img {
    width: 100%;
    height: 100%;

    object-fit: contain;
  }
}

.checkBlock {
  position: relative;
  align-items: center;
  padding-left: min(1.53vw, 22px);
  cursor: pointer;

  &__check {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  &__checkVis {
    position: absolute;
    left: 0;
    align-items: center;
    justify-content: center;
    width: min(.97vw, 14px);
    height: min(.97vw, 14px);
    border: 1px solid #a65cf0;
    border-radius: min(.14vw, 2px);

    &::after {
      content: "";
      position: absolute;
      width: min(.97vw, 14px);
      height: min(.97vw, 14px);
      border-radius: min(.14vw, 2px);
      opacity: 0;
      background-image: url(../img/chekbox.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transition: opacity .3s ease-in-out;
    }

    &_compl {
      border-color: white;

      &::after {
        background-color: white;
      }
    }
  }

  &__descr {
    font-size: min(.97vw, 14px);
    font-weight: 400;
    line-height: min(1.32vw, 19px);
    color: black;

    & a {
      color: #a65cf0;
      text-decoration: underline;
    }
  }
}

.checkBlock__check:checked + .checkBlock__checkVis::after {
  opacity: 1;
}

.footer {
  background-color: #eaeaea;

  &__logo {
    display: block;
    width: min(12.99vw, 187px);
    height: min(1.88vw, 27px);
    margin-bottom: min(2.15vw, 31px);

    & img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__socBlock {
    column-gap: min(1.39vw, 20px);

    & svg {
      width: min(2.08vw, 30px);
      height: min(2.08vw, 30px);

      fill: #999999;
    }

    a svg {
      transition: fill .3s ease-in-out;
    }
  }

  &__container {
    justify-content: space-between;

    padding-block: min(1.67vw, 24px);
    column-gap: min(1.04vw, 15px);
  }

  &__bottom {
    justify-content: center;
    font-size: min(.97vw, 14px);
    font-weight: 400;
    line-height: min(1.32vw, 19px);
    color: #999999;
    letter-spacing: 0;
    background-color: #f6f6f6;

    padding-block: min(.35vw, 5px);
  }

  &__listBlockMain {
    column-gap: min(7.78vw, 112px);

    & ul {
      display: flex;
      flex-direction: column;

      row-gap: min(.69vw, 10px);
    }

    & h4 {
      margin-bottom: min(.69vw, 10px);
      font-size: min(1.11vw, 16px);
      font-weight: 400;
      line-height: min(1.11vw, 16px);
      color: #333333;
      letter-spacing: 0;
    }

    & li a {
      font-size: min(.97vw, 14px);
      font-weight: 400;
      line-height: min(.97vw, 14px);
      color: #999999;
      letter-spacing: 0;
      transition: color .3s ease-in-out;
    }
  }

  &__mainBlock {
    column-gap: min(7.78vw, 112px);
  }
}

.catalog {
  &__swiper {
    overflow: hidden;
    width: 100%;
  }

  &__productBlock {
    position: relative;
    width: 75%;
  }

  &__btnSwiperBlock {
    position: absolute;
    bottom: max(-4.44vw, -64px);
    left: min(32.50vw, 468px);

    column-gap: min(1.25vw, 18px);
  }

  &__btnSwiper {
    align-items: center;
    justify-content: center;
    width: min(2.22vw, 32px);
    height: min(2.22vw, 32px);
    border: 2px solid #a65cf0;
    border-radius: min(.69vw, 10px);
    font-size: min(1.11vw, 16px);
    font-weight: 600;
    line-height: min(1.11vw, 16px);
    color: #a65cf0;
    letter-spacing: 0;
    background-color: transparent;
  }

  &__way {
    margin-bottom: min(2.22vw, 32px);

    & a,
    span {
      font-size: min(.97vw, 14px);
      font-weight: 400;
      line-height: min(.97vw, 14px);
      color: #999999;
      letter-spacing: 0;
    }

    & a:last-child {
      color: #7033ac;
    }
  }

  &__filterTitle {
    margin-bottom: min(1.39vw, 20px);
    font-size: min(1.25vw, 18px);
    font-weight: 400;
    line-height: min(1.60vw, 23px);
    color: #333333;
    letter-spacing: 0;
  }

  &__filterTitleCheck {
    margin-bottom: min(.56vw, 8px);
    font-size: min(1.11vw, 16px);
    font-weight: 600;
    line-height: min(1.39vw, 20px);
    color: #666666;
    letter-spacing: 0;
  }

  &__wrapper {
    align-items: flex-start;
    flex-direction: column;

    row-gap: min(.69vw, 10px);
  }

  &__checkBlock {
    margin-bottom: 0 !important;
  }

  &__choiceName {
    font-size: min(1.11vw, 16px);
    font-weight: 400;
    line-height: min(1.25vw, 18px);
    color: #666666;
    letter-spacing: 0;
  }

  &__checkBlockMain:not(:last-child) {
    margin-bottom: min(1.94vw, 28px);
  }

  &__price {
    font-size: min(1.11vw, 16px);
    font-weight: 400;
    line-height: min(1.46vw, 21px);
    color: #666666;
    letter-spacing: 0;

    & input {
      max-width: min(5.97vw, 86px);
      padding: min(.35vw, 5px) min(.90vw, 13px);
      border: 1px solid #999999;
      font-size: min(1.11vw, 16px);
      font-weight: 400;
      line-height: min(1.46vw, 21px);
      color: #666666;
      letter-spacing: 0;

      margin-inline: min(.63vw, 9px);

      &::placeholder {
        font-size: min(1.11vw, 16px);
        font-weight: 400;
        line-height: min(1.46vw, 21px);
        color: #666666;
      }
    }
  }

  &__mainBlock {
    justify-content: space-between;
    margin-bottom: min(9.31vw, 134px);

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  & div:has(> h4) {
    margin-bottom: min(.69vw, 10px);
  }

  &__aside {
    width: min(20.56vw, 296px);
    min-height: min(25.00vw, 360px);
    border-radius: min(.69vw, 10px);
    background-color: #333333;
  }

  &__imgBlock {
    width: min(20.56vw, 296px);
    height: min(13.19vw, 190px);
    margin-bottom: min(2.08vw, 30px);

    & img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__asideTitle {
    max-width: min(13.82vw, 199px);
    margin-bottom: min(.83vw, 12px);
    font-size: min(1.11vw, 16px);
    font-weight: 400;
    line-height: min(1.53vw, 22px);
    color: #666666;
    letter-spacing: 0;

    & span {
      display: block;
      font-family: "Playfair_Display-Black";
      font-size: min(1.67vw, 24px);
      font-weight: 900;
      line-height: min(2.22vw, 32px);
      color: #d5b986;
      letter-spacing: 0;
    }
  }

  &__descrBlock {
    padding: 0 min(2.08vw, 30px) min(2.08vw, 30px) min(2.08vw, 30px);
  }

  &__linkCatalog {
    align-items: center;
    width: max-content;
    font-size: min(1.11vw, 16px);
    font-weight: 700;
    line-height: min(1.32vw, 19px);
    color: #a65cf0;
    transition: color .3s ease-in-out;

    column-gap: min(.35vw, 5px);
  }

  & h1 {
    margin-bottom: min(1.67vw, 24px);
    font-size: min(1.67vw, 24px);
    font-weight: 400;
    line-height: min(2.15vw, 31px);
    color: #333333;
    letter-spacing: 0;
  }

  &__list {
    grid-template-columns: repeat(3, 1fr);
    gap: min(2.22vw, 32px);
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: min(29.17vw, 420px);
    padding: min(2.08vw, 30px) min(1.04vw, 15px);
    border-radius: min(.69vw, 10px);
    background-color: #f6f6f6;
  }

  &__star {
    position: relative;
    align-items: center;
    margin-left: min(1.04vw, 15px);
    padding-left: min(1.60vw, 23px);
    font-size: min(1.11vw, 16px);
    font-weight: 400;
    line-height: min(1.46vw, 21px);
    color: #ff862f;
    letter-spacing: 0;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: min(1.04vw, 15px);
      height: min(1.04vw, 15px);
      background-image: url(../img/catalog_star.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__itemTopBlock {
    flex-direction: column;
    justify-content: space-between;
    height: min(11.18vw, 161px);
    margin-bottom: min(1.11vw, 16px);
  }

  &__imgBlockItem {
    &_1 {
      width: min(18.47vw, 266px);
      height: min(5.69vw, 82px);
    }

    &_2 {
      width: min(18.13vw, 261px);
      height: min(7.01vw, 101px);
    }

    &_3 {
      width: min(18.13vw, 261px);
      height: min(7.01vw, 101px);
    }

    &_4 {
      width: min(17.85vw, 257px);
      height: min(8.68vw, 125px);
    }

    &_5 {
      width: min(18.47vw, 266px);
      height: min(8.13vw, 117px);
    }

    &_6 {
      width: min(18.82vw, 271px);
      height: min(8.13vw, 117px);
    }

    &_7 {
      width: min(18.47vw, 266px);
      height: min(9.03vw, 130px);
    }

    &_8 {
      width: min(14.72vw, 212px);
      height: min(8.61vw, 124px);
    }

    &_9 {
      width: min(18.19vw, 262px);
      height: min(8.61vw, 124px);
    }

    & img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__itemTitle {
    max-width: min(16.39vw, 236px);
    margin-bottom: min(1.67vw, 24px);
    font-size: min(1.67vw, 24px);
    font-weight: 400;
    line-height: min(2.15vw, 31px);
    color: #333333;
    letter-spacing: 0;
  }

  &__priceItem {
    display: block;
    margin-bottom: min(1.67vw, 24px);
    font-size: min(1.11vw, 16px);
    font-weight: 400;
    line-height: min(1.46vw, 21px);
    color: #666666;
    letter-spacing: 0;
  }

  & div:has(> .catalog__itemTitle) {
    margin-left: min(1.04vw, 15px);
  }

  &__btn {
    max-width: min(4.03vw, 58px);
    margin-top: auto;
    padding: min(1.32vw, 19px) min(2.43vw, 35px);
    border: 2px solid #a65cf0;
    border-radius: min(.69vw, 10px);
    font-size: min(1.11vw, 16px);
    font-weight: 600;
    line-height: min(1.11vw, 16px);
    color: #a65cf0;
    background-color: transparent;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
  }
}

//
.noneLoop::before {
  opacity: 0;
}

.catalogBtnActive {
  color: white;
  background-color: #a65cf0;
}

// hover

@media (any-hover:hover) {
  .header__navLinkBottom:hover,
  .header__navLink:hover,
  .footer__listBlockMain li a:hover {
    color: #a65cf0;
  }

  .hero button:hover,
  .oxford button:hover,
  .connect__btn:hover {
    background-color: #c998fb;
  }

  .spec__btn:hover,
  .catalog__btn:hover,
  .pop__btn:hover,
  .useful__link:hover {
    color: white;
    background-color: #a65cf0;
  }

  .top__linkCatalog:hover,
  .catalog__linkCatalog:hover {
    color: #7033ac;
    text-decoration: underline;
  }

  .top__linkCatalog:hover .top__arrow,
  .catalog__linkCatalog:hover .top__arrow {
    stroke: #7033ac;
  }

  .header__form:hover,
  .connect div:has(> input[type]) > input:hover {
    background-color: #eaeaea;
  }

  .header__btn_acc:hover {
    background-image: url(../img/acc_hover.svg);
  }

  .header__btn_basket:hover {
    background-image: url(../img/basket_hover.svg);
  }

  .footer__socBlock a:hover svg {
    fill: #a65cf0;
  }

  .header__tel:hover {
    color: #ffbd59;
  }
}
